//META{"name":"WJSN_Square_Theme","description":"WJSN Square Theme","author":"Kakkela","version":"0.5.1"}*//{}
/*****************************************************************************
WJSN Square - WJSN Theme by Kakkela
Edited ver. of WitcherCord by Jadeonking (https://github.com/jadeonking/WitcherCord)
*****************************************************************************/
@import url(https://rawgit.com/Kakkela/wjsnTheme/master/css/theme.css);

/* Background image, use https. To adjust background darkness further increse 0.0s below, 1 is full black */
[class*="appMount-"] {
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url('https://i.imgur.com/v3Hg644.jpg');
    background-size: cover!important;
}
/* Friends icon, use https */
.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://i.imgur.com/KwzaOdl.png)!important;
}
/* If you want embed video controls change display:none to display:inherit */
.embed [class*="embedVideoActionsInner-"] {
	display: inherit;
}



/* Accent colors 
First is forchannel names and new message notifications on serverlist, muted channels use this color but darkened variant.
Second is for category names.
*/
:root {
    --accentcolor1: #e25195;
    --accentcolor2: white;
}
/* Mention message background color */
.theme-dark .message-group .mentioned .message-text, .message-group .mentioned .message-text:after {
    background: rgba(226, 81, 149,.2)!important;
}

/* SERVER LIST EDITS, DELETE THIS WHOLE LINE FOR THREE SERVER COLUMNS 

.guilds-wrapper{
	width: 150px;
}
.guilds-wrapper .scroller-wrap {
	width: 170px;
}
.guilds-wrapper .guilds .guild {
	float:left;
    margin-right: 10px;
    margin-top: 8px;
}
.guilds-wrapper .guild-separator {
	width: 180px;
    height: 35px;
}
*/